
  .siderbar{
    width: 12rem;
    padding: 1rem;
    background-color: white;
    height: 100vh;
    position: sticky;
    top:4rem;
  }
  .siderbar::before{
    content:'';
    background: url('https://i.giphy.com/media/FPnjfwDsasfp9pz0d0/200w.webp');
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 4rem;
  }
  .filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .filter input,select{
    padding: .4rem;
  }
  .btn-filter{
    width: 100%;
    padding: 0.4rem;
    background: #a9d3e9;
    border: none;
  }
  