@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgba(26,32,44) ;
}

body {
  background: whitesmoke;
  background-color: rgba(237,242,247);;
}

ul{
  list-style: none;
}

.text-secondary{
  color: rgba(113,128,150) !important;
}
.red{
  fill:red;
}
.rounded{
  border-radius: 0.5rem;
}


.starContent{
  display: flex;
  justify-content: end;
  align-items: center;
}


.card-shadow{
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 12px 16px 0 rgba(0,0,0,0.03),0 1px 2px 0 rgba(0,0,0,0.04);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}



.card{
  background: white;
  padding: 1rem;
  width: 14rem;
  cursor: pointer;
  height: max-content;
  transition: all 0.3s ease-in-out;

}
.card:hover{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
  transform: scale(1.02);
}
.card_container_image{
  position: relative;
  cursor: default;

}
.card_ticket_favorite{
  position: absolute;
  top: 0;
  right: 0;
  border: solid 3px black;
  padding: 0.4rem;
  color: black;
  background-color: #e85356;
  transform: rotateZ(8deg);
  animation: shakeTicket .4s forwards ease-out;
}

@keyframes shakeTicket{
  0%{
    opacity: 0;
    transform: translateY(8px) rotateZ(4deg);
  }
  50%{
    opacity: 1;
    transform:translateY(0px) rotateZ(-4deg);
  }
  100%{
    transform: rotateZ(8deg);
  }
}

.main{
  flex-grow: 1;
}
.listCharacters{
  display: grid; 
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;

 
}
.characterCardImage{
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  user-select: none;
}

.pageHome{
  display: flex;
  gap:1rem;
  
}

.siderbar{
  width: 12rem;
  padding: 1rem;
  background-color: white;
  height: 100vh;
  position: sticky;
  top:4rem;
}
.siderbar::before{
  content:'';
  background: url('https://i.giphy.com/media/FPnjfwDsasfp9pz0d0/200w.webp');
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 4rem;
  background-color: red;
}
.filter{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.filter input,select{
  padding: .4rem;
}
.btn-filter{
  width: 100%;
  padding: 0.4rem;
  background: #a9d3e9;
  border: none;
}
.filters{
  
}
.navbar{
  display: flex;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top:0px;
  z-index: 9;
  transition: top .4s ease;
}
.count_favorites{
  border-radius: 1rem;
  padding: 0 1rem;
  color: white;
  font-size: .8rem;
  background-color: #00c636;
}
.hide{
  top:-4rem;
}
.links{
  display: flex;
  gap:1rem;
}

.contentArrowScrollTop{
  z-index: 999;
  bottom: -8rem;
  right: 4rem;
  position: fixed;
  transition: bottom .4s ease;
  background: url('https://i.giphy.com/media/26BkNsQzs593dRzJ6/200w.webp');
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  color: #e2ff00;
  background-repeat: no-repeat;
  cursor: pointer;
}

.contentArrowScrollTop:hover .iconArrowTopScroll{
  background: #0000008a;
  opacity: 1;
  box-shadow: 0 0 0rem 0rem rgba(255, 234, 0, 0.984);
}
   
.iconArrowTopScroll{
  transition: all .4s ease;
  font-size: 2rem;
  box-shadow: 0 0 1rem 1rem rgba(255, 234, 0, 0);
    padding: 1rem;
    opacity: 0;
    background: #00000000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.hideArrowTopScroll{
  bottom: 4rem;
}



.skleton{
  --loading-grey :#e2e8f0;
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: .8s skleton ease-in-out infinite;
}
.image_skleton{
  width: 100%;
}
@keyframes skleton {
  to {
    background-position-x: -20%;
  }
}
.btn_search{
  background: #f4f4f4;
    border: none;
    color: white;
    font-size: 1rem;
    fill: white;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    padding: 0 1rem;
}

.card_container_image:hover > .card_hover{
  opacity: 1;
}
.card_hover{
  opacity: 0;
  width: 100%;
  font-size: 5rem;
  height: 98%;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0000002e;
  transition: opacity .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_hover svg{
  fill: #fdd900;
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
  animation: shadowStar .4s forwards ease-out;
}
@keyframes shadowStar{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 2px #fdd900);
  }
  100%{
    transform: scale(1);
  }
}

.linkItem{
  text-decoration: none;
    color: inherit;
    padding: 0.8rem 2rem;
   
    border-radius: 1rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    transition: all .4s ease;
  
}
.linkItem:hover:not(.linkSelect){
  background: #2bff0014;
}
.linkSelect{
  background-color: #61fe7c;
}

.search_input{
  padding: 10px;
  border-radius: 0.4rem 0 0 0.4rem;
  border: none;
  background: #f7f4f4;
}

.card_header-spans{
  display: flex;
  justify-content: space-between;
}




.span-live svg{
  fill: rgb(0, 255, 0);
}

.span-dead svg{
  fill: black;
}
.card_header-spans .span{
  border-radius: 1rem;
  gap:.4rem;

  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4rem;
}


.idCard{
  font-size: 1.5rem;
  font-weight: bold;
}

.charactersByEpisode{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap:1rem;
}
.episodeCardCharacter{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f7f4f4;
  overflow: hidden;
}
.episodeCardCharacter img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.episodesHeader{
  text-align: center;
  padding: 1rem;
  
}